 {% load static %}
 <!DOCTYPE html>
 <html>
    <head>
        <title>Your reviews</title>
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    </head>
    <body>

        {% include "partials/header.html" %}
        <div class="review-manage-container">
            <h2>Your reviews</h2>

            {% for review in reviews %}
            <div class="review-instance-container">
                <p><strong>{{ review.name }}</strong>
                ({{ review.rating }} ⭐)
                - {{ review.created_at|date:"Y-m-d"}}</p>
                <p>{{ review.content }}</p>

                <form method="get" action="{% url 'delete_review' review.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="email" value="{{ email }}">
                    <button type="submit" class="delete-btn">
                        Delete this review
                    </button>
                </form>
            </div>
            <hr>
            {% empty %}
            <p>No reviews found for this e-mail address.</p>
            {% endfor %}
        </div>

        {% include "partials/footer.html" %}

        <style>
            #review-manage-container{
        min-height: 80vh;
        margin-bottom: 2rem;
        padding-bottom: 4rem;
        background-color: #c9bfdd;
        padding: 4rem 3rem 2rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    #review-manage-container input {
        border: 1px solid gold;
        border-radius: 1.05rem;
        padding: 0.4rem;
    }
        </style>
    </body>
 </html>