<!-- templates/partials/header.html -->
{% load static %}
<header class="top-nav">
        <img src="{% static 'main/img/tlo_header.jpg' %}" alt="header" class="header-img">

    <div class="nav-top">


      <div class="nav-top-elements">
        <div>

          <div class="mobile-hide hamburger" id="hamburger" onclick="openMENU()" >
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>

        </div>

        <div class="logo-container" style="text-align: center;">
          <img src="{% static 'main/img/veloria.png' %}" alt="Logo" width="250" style="height: auto;">
        </div>

        <div class="desktop-hide hamburger" id="hamburger" onclick="openMENU()" >
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="overlay-image-container">
        <div class="mobile-hide overlay-image-wrapper" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a href="{% url 'login' %}" class="mobile-hide overlay-image desktop-hero-book-btn">
              Sign In
            </a>
            <!--<img style="transform: translateY(+50%);" class="overlay-image2 mobile-hide fade image" src="{% static 'main/img/book_now.png' %}" height="120px" alt="BOOK NOW" onclick="window.location.href='{% url 'calendar' %}';">
            <img style="transform: translateY(-50%);" class="overlay-image2 mobile-hide" src="{% static 'main/img/book_now2.png' %}" alt="BOOK NOW" onclick="window.location.href='{% url 'calendar' %}';">-->
        </div>
        </div>
      </div>

    </div> 

    <nav class="nav-bottom" id="nav-bottom" onmouseleave="closeMENU()">

      <div class="close-container">
        <div id="close-menu" class="hamburger cross book-btn4 desktop-hide mobile-hide" onclick="closeMENU()">
            <svg viewBox="0 0 24 24" width="30" height="30" aria-hidden="true" focusable="false">
              <path d="M4 6l6 6l-6 6l2 2l6 -6l6 6l2 -2l-6 -6l6 -6l-2 -2l-6 6l-6 -6z"/>
            </svg>
        </div>
    
      </div>

      <img id="nav-logo" src="{% static 'main/img/veloria.png' %}" alt="Logo" height="180px" style="display: block; margin: 0 auto;" />
      <a class="menu left first text-with-ellipse-line" href="{% url 'index' %}">Welcome</a>
      <a class="menu left text-with-ellipse-line" href="{% url 'services' %}">Services</a>
      <a class="menu left text-with-ellipse-line" href="{% url 'reviews_page' %}">Opinions</a>
      <a class="menu left text-with-ellipse-line" href="{% url 'blog' %}">Blog</a>
      <a class="menu left text-with-ellipse-line" href="{% url 'career' %}">Career</a>
      <a class="menu left text-with-ellipse-line" href="{% url 'contact' %}">Contact</a>
      <a class="menu left text-with-ellipse-line" href="{% url 'calendar' %}">Book Now</a>

      {% if not user.is_authenticated %}
      <a class="menu left text-with-ellipse-line" href="{% url 'login' %}">Login</a>
      {% endif %}

      {% if user.is_authenticated %}
      
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button style="background-color: transparent; border: none;" type="submit" class="menu left text-with-ellipse-line" data-url="{% url 'index' %}" onclick="window.location.href=this.dataset.url;">
          Logout
        </button>
      </form>

      {% endif %}
      
      <div>
        <br>
      </div>

    </nav>
  </header>