body,* {
  padding: 0; 
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin: 0;
    min-height: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url('../img/tlo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #270049; 
  }

/* === TOP NAVIGATION === */
header.top-nav {
  position: relative;
  overflow: hidden;
  border-bottom: 3px solid #d4bf6e; 
  height: 200px; 
  margin: 0;
  padding: 0;
}

header.top-nav .header-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  object-fit: cover;
}
.nav-top {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 197px;
}  

.nav-top hr {
  border-top: 2px solid #d4bf6e;
  box-shadow: 0px 0px 2px #000;
  opacity: 0.9;
  margin: 0;
}
.nav-top-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 30px 0px 30px;
  color: #27194c;
  height: 167px;
}

.nav-top-elements > div {
  flex: 1;
}

.nav-top-elements > div:first-child {
  justify-content: flex-start;
}
.nav-top-elements > div:nth-child(2) {
  justify-content: center; 
}
.nav-top-elements > div:last-child {
  justify-content: flex-end !important;
}
.logo-container {
}
.nav-top1 {
  display: flex;
  flex-direction: row;
}
.nav-icons {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #27194c;
}
#hamburger2{
  width: 80%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px 16px;
  cursor: pointer;
}
.hamburger .cross1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .cross2{
    opacity: 0;
}

.hamburger .cross3 {
    transform: rotate(-45deg) translate(20px, -20px);
}

.arow1 {
  transform: translate(-2px, 20px) rotate(0deg);
}

.arow2 {
  transform: translate(10px, -15px) rotate(60deg);
}

.arow3 {
  transform: translate(-12px, -33px) rotate(120deg);
}

.menu-desktop-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

.menu-desktop-item {
  text-decoration: none;
  color: #d4bf6e;
  text-shadow: 0px 0px 2px #000;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  border-top: 1.6px solid #d4bf6e; 
  padding: 12px 10px;
  gap: 0.5px;
  background-color: #27194c;
  height: calc(93vh );
  width: 250px;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
  padding-bottom: 15.5%;
  transform: translateX(-270px);
  transition:transform 0.4s ease-out;
}
.nav-bottom.open {
  transform: translateX(0);
}

#nav-bottom .left{
color: #d4bf6e;
font-size: 1.5rem;
margin-left: 1.5rem;
display: block;
width: fit-content;
transition:all 0.3s ease-in-out ;
text-shadow: 1px 1px 2px #270049;
}

#nav-bottom .left:hover{
  border-bottom: #d4bf6e solid 2px;
  margin-left: 1.5rem;
}
#nav-bottom .first {
  text-shadow: 1px 1px 2px #270049;
  color: #906a74;
}
#nav-bottom .first:hover {
  color:#d4bf6e;
  border-bottom: #d4bf6e solid 2px;
}
.left {
  text-decoration: none;
}

.text-with-ellipse-line {
  position: relative;
  display: inline-block;
}
.text-with-ellipse-line svg {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 15px;
}
.text-with-ellipse-line svg path {
  stroke: transparent;
  stroke-width: 1.5;
  fill: none;
  stroke-linecap: round;
}
.line {
  width: 50px;
  height: 5px;
  background-color: #d4bf6e;
  border: 2px solid #d4bf6e !important;
  border-radius: 10px;
  background-color: #270049;
  margin: 4px 0;
  animation: colorShift 4s infinite;
  transition: none;
}

.logo {
  height: 250px !important;
}
.logo img {
  height: 250px !important;
}
.card1, .card2, .card3, .card4, .card5 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card1 {
  background-image: url('../img/eye1.png');
}

  .card2 {
    background-image: url('../img/training1.jpg');
  }

  .card3 {
    background-image: url('../img/pernament1.jpg');
  }
  .card4 {
    background-image: url('../img/astetic1.jpg');
  }

  .book-btn {
    border: 2px solid #cfa15a; 
    background-color: #27194c;
    color: #d4bf6e;
    padding: 5px 16px !important;
    height: auto !important;
    margin: auto;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    display: flex !important;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: none;
    text-decoration: none;
  }

  .book-btn:hover {
    animation-play-state: paused;
    background-color: #ffffff; 
    color: #27194c;
    border-color: #27194c;
    box-shadow: 0 0 15px 4px #cfa15aaa;
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    font-weight:800 !important;
  }

  .book-btn2 {
  background-color: #6a4b7c00;
  padding: 3px 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
    }
  .book-btn2:hover {
    color: #6a4b7c46;
  }

  .button-container {
    position: fixed;
    bottom: 7vh;
    right: 20px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    z-index: 1000; 
  }

  #scroll-button {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(30px);
  }

  #scroll-button.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
  }

  .book-btn3 {
    border: 1px solid #cfa15a; 
    box-shadow: 0px 0px 3px #cfa15a;
    box-shadow: inset 0px 0px 3px #cfa15a;
    background-color: #27194c;
    color: white;
    fill: #f9f5c4;
    padding: 4px 4px !important;
    height: auto !important;
    margin: auto;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    display: flex !important;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    border-radius: 35px;
    cursor: pointer;
    /*animation: colorShift 6s infinite;*/
    transition: none;
    text-decoration: none;
    transform: translateY(-20px);
  }

  .book-btn3:hover {
    animation-play-state: paused;
    background-color: #cfa15a; 
    color: #27194c;
    fill: #27194c;
    border-color: #27194c;
    box-shadow: 0 0 15px 4px #cfa15aaa;
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    font-weight:800 !important;
  }

  .scroll-svg {
    display: block;
    width: 30px;
    height: 30px;
  }

  .book-btn4 {
    border: 2px solid #cfa15a; 
    background-color: #27194c;
    color: white;
    fill: white;
    padding: 5px 5px !important;
    height: auto !important;
    margin: auto;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    display: flex !important;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    border-radius: 35px;
    cursor: pointer;
    /*animation: colorShift 6s infinite;*/
    transition: none;
    text-decoration: none;
    transform: translateY(-10%);
  }

  .book-btn4:hover {
    animation-play-state: paused;
    background-color: #ffffff; 
    color: #27194c;
    fill: #27194c;
    border-color: #27194c;
    box-shadow: 0 0 15px 4px #cfa15aaa;
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    font-weight:800 !important;
  }

.login_logout {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-right: 10px;
gap: 10px;
}

.login_logout2{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* === MAIN SECTION === */
.main-section {
  display: flex;
  max-width: 1200px;
  margin: 0 auto 0 auto; 
  padding: 8px 20px 20px 20px; 
  gap: 35px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-section-wrapper {
  /*background-image: url('../img/tlo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;*/
  max-width: 100%;
  padding-bottom: 3rem;
}
.left-photo {
  flex: 0 0 35%;
  max-width: 35%;
  min-width: 250px;
  /*height: auto;*/
  text-align: center;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
}
.left-photo img {
  width: 100%;
  height: auto !important;
  display: block;
  object-fit: cover;
  border-radius: 14px;
}
.services-wrapper {
  flex: 0 0 60%;
  max-width: 60%;
  min-width: 250px;
  margin-top: 0;
  padding-top: 0; 
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 30px;
}
.service-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 3px solid #d4bf6e;
  border-radius: 16px;
  min-height: 320px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(233, 140, 163, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(233, 140, 163, 0.3);
  border-color: #27194c;
}

.service-card h3 {
  display:block;
  width: 100%;
  padding:0.3rem 0rem;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #d4bf6e;
  background-color: #27194c;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.service-card p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #d4bf6e;
  margin-bottom: 15px;
  opacity: 0;
  transition: all 0.6s ease;
  text-shadow: 3px 3px #27194c;
  padding: 0 1rem;
  letter-spacing: 1px;
  }
.service-card p:hover {
  opacity: 1;
}
.service-card a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 10px 18px;
  color: #d4bf6e;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.image_panel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.overlay-text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background-color: #27194c; 
  padding: 10px 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
  
.overlay-text {
  margin: 0;
  color: transparent;
  font-size: 1.25rem;
  font-weight:lighter;
  text-align: center;
  font-weight: bold;
}

.image-wrapper:hover .overlay-text-wrapper {
  transform: translateY(0);
  display: block;
}
.image-wrapper:hover .overlay-text {
  transform: translateY(0);
  color: #d4bf6e;
}

.box {
    min-height: 320px;
    text-align: center;
}

  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
  }


/* Fixed footer positioning */
#footer {
  background-color: #27194c !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7.5vh; 
  overflow: hidden;
  z-index: 1000;
  /*display: flex;
  flex-direction: row; 
  justify-content: space-between; */
  border-top: 2px solid #ffc107;
}

.footer-row {
  height: 100%;
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #d4bf6e;
}

/* Left */
.footer-left {
  flex: 1;
  text-align: center;
}

/* Prevent text wrapping */
#footer-text {
  margin: 0;
  font-size: 0.85rem;
  white-space: nowrap; 
}

/* Center */
.footer-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-center a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Right */
.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  
}

/* Footer icon sizing */
.footer-icon{
  height: 5vh;
}

.chat_image {
  width:50px;
  height:50px;
  
}

/* Ikona czatu */
#chat-icon {
  padding: 0;
  margin: 0;
  color: #d4bf6e;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  z-index: 9999;
}

/* Okno czatu */
#chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 400px;
  background: #d4bf6e;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 9999;
}

#chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-family: sans-serif;
  font-size: 14px;
}

#chat-input {
  display: flex;
  border-top: 1px solid #ccc;
}

#chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

#chat-input button {
  padding: 10px;
  border: none;
  background: #0078ff;
  color: white;
  cursor: pointer;
}

.message.user { color: blue; }
.message.bot { color: green; }

#background-video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

#review-manage-container{
        min-height: 80vh;
        margin-bottom: 2rem;
        padding-bottom: 4rem;
        background-color: #c9bfdd;
        padding: 4rem 3rem 2rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    #review-manage-container input {
        border: 1px solid gold;
        border-radius: 1.05rem;
        padding: 0.4rem;
    }

    #review-manage-container button{
        margin-top: 2rem;
    }

.calendar {
    display: grid;
    padding: 2rem;
    grid-template-columns: 80px repeat(7, 1fr);
    border: 1px solid #ccc;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 3rem;
}

.calendar > .empty + .calendar-header {
  border-radius: 18px 0px 0px 0px;
  border-left: 2px solid #3e305d ;
}

.calendar > .calendar-header:not(:has(+ .calendar-header)) {
  border-radius:  0px 18px 0px 0px;
  border-right: 2px solid #3e305d ;
}

.calendar-header {
    background: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #756695f5;
}

.calendar-time {
    background: #fafafa;
    text-align: right;
    padding: 8px;
    border-right: 1px solid #ccc;
    font-size: 0.9em;
    color: #666;
}

.calendar-cell {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 8px;
    min-height: 40px;
    cursor: pointer;
	text-align: center;
	vertical-align: middle;
	
}

.calendar-cell:hover {
    background: #e8f4ff;
}

.calendar-day {
    background: #f8f8f8;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    border-right: 1px solid #ccc;
}





   /* Animacja kolorów dla przycisku */
   @keyframes colorShift {
    0% {
      background-color: rgba(106, 75, 124, 0.5); /* fiolet */
      box-shadow: 0 0 6px #cfa15a88; /* złoty cień */
    }
    50% {
      background-color: rgba(207, 161, 90, 0.5); /* złoto */
      box-shadow: 0 0 9px #cfa15aaa;
    }
    100% {
      background-color: rgba(106, 75, 124, 0.5); /* fiolet */
      box-shadow: 0 0 6px #cfa15a88;
    }
  }

  .logo-rotate-z {
    animation: rotateZ 25s linear infinite;
    transform-origin: center center;
    display: block;
    margin: 0 auto;
    height: 280px;
    width: 280px;
  }
  
  .overlay-text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #27194c;
    padding: 10px 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    border: solid #d4bf6e 2px;
  }
  
  .marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }  

  .holographic-card {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    transition: all 0.5s ease;
    /* NIE ustawiamy background ani rozmiaru — są dziedziczone z .card1 itd. */
  }
  
  /* Holograficzny efekt */
  .holographic-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      120deg,
      transparent 40%,
      #27194c,
      transparent 60%
    );
    transform: rotate(0deg);
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
  }
  
  .holographic-card:hover::before {
    opacity: 1;
    transform: rotate(45deg) translateY(100%);
  }
  
  .holographic-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px#27194c;
  }
  
  /* Zawartość nad hologramem */
  .holographic-card h3,
  .holographic-card p,
  .holographic-card a {
    position: relative;
    z-index: 4;
  }
  
  .rotating-logo-container {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 0 auto;
  }
  
  .rotating-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: spin 20s linear infinite;
    z-index: 1;
  }
  
  .static-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .image-login {
    border: 2px solid #d4bf6e;   /* złota ramka */
    border-radius: 50%;       /* koło */
    background-color: transparent;
    padding: 0px;             /* odstęp między ramką a obrazkiem */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: colorShift 4s infinite;
  }

  .image-login:hover {
    border-color:#27194c
  }
  
  .image-login img {
    height: 45px;
    width: 45px;
    border-radius: 50%;       
    display: inline-block;
  }

.login_form {
  border: 2px solid #d4bf6e !important;
  border-radius: 50% !important;       
  background-color: transparent;
  padding: 0px !important;            
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

  

  .close-container {
    position: fixed;
    top: 30px;
    right: 20px;
    display: flex;
    flex-direction: column; /* ustawia jeden pod drugim */
    gap: 10px; /* odstęp między przyciskami */
    z-index: 1000; /* na wierzchu */
  }

  .floating-button {
    padding: 10px 15px;
    background-color: #27194c;
    color: #d4bf6e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px #d4bf6e;
    font-size: 14px;
    transition: background-color 0.2s ease;
  }

  .floating-button:hover {
    background-color: #0056b3;
  }
  
  /* Animacja obrotu */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadeText {
    0%, 100% {
      color: white;
    }
    50% {
      color: transparent; 
    }
  }

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
}

select, input[type="date"], input[type="time"] {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

select:focus, input[type="date"]:focus, input[type="time"]:focus {
  border-color: #007bff;
  outline: none;
}

.mobile-hero-book-btn {
  position: absolute;
  bottom: 90%;
  left: 83%;
  transform: translateX(-50%) translateY(50%);
}

.overlay-image-container {
  display: flex;
  align-items: center;
}

.overlay-image-wrapper {
  flex: 0 0 auto !important;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgb(212, 191, 110);
  box-shadow: 0px 0px 1px #000;
  border-radius: 1.7rem;
  padding: 1px;
}
  
.overlay-image {
  padding: 0.2rem 1.2rem;
  text-align: center;
  text-wrap: nowrap;
  color: rgb(212, 191, 110);
  font-size: 1rem;
  background-image: linear-gradient(to bottom, #3e305d, #000);
  border-radius: 1.7rem;
  border-top: 1px solid #27194c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-decoration: none;
  height: auto !important;
  cursor: pointer;
  opacity: 1;
  z-index: 3; /* tło */
}

.overlay-image:active, .overlay-image:focus {
  color: #27194c;
}

.overlay-image:hover {
    /*box-shadow: 0 10px 25px #d4bf6e;*/
    border-color: #d4bf6e;
    box-shadow: 0px 0px 6px #d4bf6e;
  }

/* Obrazek z napisem */
.overlay-image.fade {
  z-index: 2; /* nad tłem */
  animation: fadeText 1s ease-in-out infinite;
}

.overlay-image2 {
  height: 120px !important;
  cursor: pointer;
  opacity: 1;
  z-index: 1; /* tło */
}

.overlay-image2.fade {
  z-index: 2; /* nad tłem */
  animation: fadeText 1s ease-in-out infinite;
}


@media (max-width: 768px) {

  /* Header - height & size adjustment */
  header.top-nav {
    height: 100px;
  }

  .nav-top {
    height: 97px;
  }

  .logo-container {
    width: 100px;
    height: 100px;
  }
  .logo-container img {
    width: 97px;
  }

  .line {
    width: 30px;
    height: 3px;
    margin: 2px 0;
    border: 1px solid #d4bf6e !important;
  }

  .button-container {
    bottom: 11vh;
  }

  .book-btn3 {
    transform: translateY(-4px);
  }

  .scroll-svg {
    width: 20px;
    height: 20px;
  }

  /* Fixed footer positioning */
  #footer {
    height: auto; 
    overflow: hidden;
    z-index: 1000;
    border-top: 2px solid #ffc107;
  }

  .footer-row {
    height: 100%;
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0px;
  }

  /* Prevent text wrapping */
  #footer-text {
    font-size: 0.75rem;
    margin: 0.25rem 1rem 0.25rem 1rem;
    text-align: center;
    white-space: nowrap; 
    width: 100%;
  }

  /* Center */
  .footer-center {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  /*Right */
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  /* Book Button */
  .mobile-hero-book-btn {
  position: absolute;
  bottom: 90%;
  left: 73%;
  transform: translateX(-50%) translateY(50%);
}

.overlay-image {
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem !important;
  text-align: center;
  text-wrap: nowrap;
  color: rgb(212, 191, 110);
  font-size: 1rem;
  background-image: linear-gradient(to bottom, #3e305d, #000);
  border-radius: 1.7rem;
  border-top: 1px solid #27194c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-decoration: none;
  height: auto !important;
  cursor: pointer;
  opacity: 1;
  z-index: 3; /* tło */
}

}

@media (min-width: 901px) {
    .desktop-hide {
      display:none !important; 
  }

  .menu-desktop-row {
    display: flex !important; /*show menu desktop */
  }

  .nav-bottom {
    display: none !important; /* hide side menu */
  }
  #hamburger {
    display: none !important; /* hide hamburger */
  }
  .overlay-image.desktop-hero-book-btn {
    display: flex !important;
  }
}

/* ---- Tablet & Mobile ---- */
@media (max-width: 900px) {
    .main-section {
      flex-direction: column;
      align-items: center;
    }

    .nav-top-elements {
    position: relative;
  }

  .menu-desktop-row {
    display: none !important;
  }

  .nav-top hr {
    display: none !important;
  }

  /* Center logo absolutely */
  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Force mobile hamburger to right edge */
  .desktop-hide.hamburger {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

    .mobile-hide {
      display:none !important
    }
    .left-photo,
    .services-wrapper {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .services-grid {
      grid-template-columns: 1fr;
    }
      
    .logo {
      font-size: 1.5rem;
    }
  
    .nav-bottom {
      display: flex !important;
      flex-direction: column;
      gap: 1px;
      width: calc(100vw);
      transform: translateX(-100vw);
      padding: 0px;
      justify-content: flex-start;
      align-items: center;
      gap: 0.2rem;
    }
    
    #nav-bottom .left {
      font-size: 1.14rem;
      margin-left: 0px;
      line-height: 1.3;
    }
    
    #nav-logo {
      height: 120px;
    }
  }

/* Animacja pojawiania się i znikania napisu */
@keyframes fadeText {
  0%, 45% {
    opacity: 1;
  }
  55%, 100% {
    opacity: 0;
  }
}

.hover-image{
  opacity: 0;
}

.hover-image:hover {
  opacity: 1 !important;
}

